* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mark Pro";
}

/* Fonts */
@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

:root {
  /* colors for typography */
  --zwart---: #000;
  --wit---: #fff;
  /* secundary colors */
  --blauw---: #003cfb;
  --groen---: #02c758;
  --rood---: rgb(231, 70, 30);
  /* tertaire colors */
  --blauw-accenet--: #001863;
  --groen-accent--: rgb(0, 143, 63);
  --red-accent--: #670002;
  /* Fonts */
}
/* start header */
header{
  background: var(--blauw---);
  color: white;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
header h1{
 font-family: "Mark Pro bold";
}

.img-container{
display: flex;
justify-content: center;
width: 100%;
margin-top: 1em;
}

.branding{
  height: 2em;
  width: auto;
}

.branding path{
  fill: white;
}

/* header for development-fase */

.development-header{
  padding: 2.5em;
}

/* Start nav */

 nav{
  background: rgb(43, 42, 42);
  height: 3em;
  font-size: 0.9em;
}

nav ul{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 0.3em;
}

nav ul li{
  list-style: none;
}

nav ul li a{
 text-decoration: none;
 color: white;
}
/* start main */

/* Article */

.flex{
  background: rgb(237, 237, 237);
  width: 100%;
}

article{
  padding-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(237, 237, 237);
}

article h1{
  font-family: "mark pro bold";
  font-size: 1.5em;
}

article span:nth-child(1){
  font-size: 1.1em;
  font-family: "mark pro bold";
}

article p{
  text-align: center;
  max-width: 20em;
  margin-top: 0.5em;
  
}

.article-footer a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--blauw---);
  font-family: "mark pro bold";
  margin: 1em;

}

/* Onze team */

.onze-team{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
  background: rgb(237, 237, 237);
}

.article-header{
  text-align: center;
}

h2{
  font-family: "mark pro bold";
 padding-top: 2em;
 padding-bottom: 2em;
 display: block;
}

.onze-team p{
 padding: 0.5em;
}

.onze-team img{
  height: 6em;
  width: auto;
  border: 5px solid var(--blauw---);
  border-radius: 50%;
  padding: 0.2em;
  background: var(--wit---);
}

.onze-team div p{
  font-family: "mark pro bold";
}

.onze-team div img{
  transition: 0.25s;
}

.onze-team img:hover {
  box-shadow: 0 7px 14px var(--blauw---);
}
.onze-team div p {
  font-family: "mark pro bold";
}

.img-two img {
  border: solid var(--rood---) 5px;
}
.img-two img:hover {
  box-shadow: 0 7px 14px var(--rood---);
}

/* 3 */
.onze-team div:nth-child(3) img {
  border: solid var(--groen---) 5px;
}

.onze-team div:nth-child(3) img:hover {
  box-shadow: 0 7px 14px var(--groen---);
}

.onze-team div:nth-child(4) img {
  border: solid var(--zwart---) 5px;
}
.onze-team div:nth-child(4) img:hover {
  box-shadow: 0 7px 14px var(--zwart---);
}


.status{
  margin-top: 5em;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
 
.status-container{
  width: 20em;
  margin: 1em auto;
  background: rgb(43, 42, 42);
  transition: 0.3s;
  color: var(--wit---);
  border-radius: 1em;
}

.status-container:hover{
  box-shadow: 0 14px 20px rgb(87, 85, 84)
}

.status-container h1{
  padding: 1em;
  text-align: center;
}

.status-container li{
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-size: 0.7em;
}

.status-container li:nth-child(6){
  padding-bottom: 2em;
}

/* mockup */

.mockup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.mockup P{
  font-family: "Mark Pro bold";
  font-size: 1.8em;

}

.mockup-test{
  margin-top: 5em;
  width: 15em;
  height: auto;
}

.bar{
  display: block;
  height: 1.5em;
  border-radius: 0.5em;
  overflow: hidden;
  margin-top: 1em;
  background: lightgray;
}

.bar span{
  height: 20px;
  float: left;
  background: var(--groen---);
}

.opstart{
  width: 100%;
}
.design{
  width: 100%;
}
.development{
  width: 70%;
}
.test{
  width: 0%;
}
.oplever{
  width: 0%;
}

/* start cards */

.cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5em;
  transition: 0.25s;
}

.cards-container h1{
  font-family: "Mark Pro bold";
  color: var(--zwart---);
  font-weight: 700;
  padding: 1em;
  color: white;
}

.cards{
  margin: 2em;
  height: 13em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgb(43, 42, 42);
  transition: 0.2s;
  border-radius: 1em;
}
.cards:hover{
background: var(--blauw---);
box-shadow: #073cea 0 14px 20px;
}

a{
  text-decoration: none;
}

.cards-icon{
  height: 3.5em;
  width: auto;
  fill: white;
}

/* Footer */

footer{
  width: 100%;
  background: var(--blauw---);
  height: 8em;
  margin-top: 3em;
}

footer div{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img{
  height: 6em;
  width: auto;
  padding-top: 3em;
}

/* media kleine telefoon */

@media (min-width: 375px){

}

 /* tablet version */

 @media (min-width: 600px){
  .grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 1em;
  }
 
 }
 
@media (min-width: 768px){

  .flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .status{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mockup-test{
    height: 14em;
    width: auto;
  }
  header h1{
    font-size: 1.8em;
  }
  nav{
    padding-top: 0.5em;
  }
  nav ul{
    gap: 50px;
  }
  .branding{
    height: 3em;
    width: auto;
    padding: 0.5em;
  }
}
  
@media (min-width: 1080px){
  .mockup-test{
    height: 16em;
    width: auto;
  }
}