* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mark Pro";
}

/* Fonts */
@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

:root {
  /* colors for typography */
  --zwart---: #000;
  --wit---: #fff;
  /* secundary colors */
  --blauw---: #003cfb;
  --groen---: #02c758;
  --rood---: rgb(231, 70, 30);
  /* tertaire colors */
  --blauw-accenet--: #001863;
  --groen-accent--: rgb(0, 143, 63);
  --red-accent--: #670002;
  /* Fonts */
}

header {
  display: flex;
}

.login-header{
  display: flex;
  justify-items: row;
}

/* Start navbar */
nav {
  background-color: #003cfb;
  width: 100%;
  border-bottom-left-radius: 90%;
}

.nav-menu{
  position: fixed;
  left: 100%;
  transition: 0.3s;
  
}
.nav-menu.active{
  left: 0;
  background: var(--blauw---);
  width: 100%;
  height: 13em;
  text-align: center;
  padding-top: 2em;
  color: white;
  list-style: none;
}
nav li{
  margin: 16px 0;
  list-style: none;
}

nav li a{
  text-decoration: none;
  color:#fff
}

.hamburger{
   display: flex;
   justify-content: end;
   margin: 1em 1em 0 0;
}
.hamburger-icon{
   fill: white;
   z-index: 1000;
}

.line{
   margin: 1em 1em 0em 0em;
   width: 6px;
   height: 4px;
   background: var(--wit---);
   gap: 2px;
}
/* Start navbar classes */
.van-ons-img {
  height: 2.5em;
  width: auto;
  margin: 1em;
  z-index: 1000;
}

.test {
  display: flex;
  justify-content: end;
}

/* Einde navbar */
/* Start landing page content */

h1 {
  text-align: center;
  margin-top: 4em;
  padding: 0.5em;
  font-family: "Mark Pro Bold";
}
p {
  text-align: center;
  padding: 1.2em;
  border-radius: 10px;
}

span{
  display: flex;
  justify-content: center;
  gap: 30px;

}
button {
  margin-top: 3em;
  background: var(--groen---);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.7em;
  transition: 0.3s;
}
button:hover {
  background: var(--groen-accent--);
}
.bekijk-fases {
  text-decoration: none;
  color: white;
}
/* start van Cards */

.fase-one {
  height: 19em;
  width: 19em;
  margin: 3em auto;
  border-radius: 0.3em;
  background: lightgrey;
  border-right: solid 8px var(--blauw---);
  transition: 0.3s;
}
 .cards a{
  text-decoration: none;
  color: black;
}

.fase-one:hover{
  color: white;
  background: #003cfb;
}

.card-content h3{
  display: flex;
  justify-content: center;
}
/* begin footer */

footer {
  background-color: #003cfb;
  color: var(--wit---);
}

footer h4 {
  margin-bottom: 0.5em;
}

footer li {
  list-style: none;
  margin-top: 0.2em;
}

footer li a {
  text-decoration: none;
  color: var(--wit---);
}

.footer-col {
  width: 100%;
  text-align: center;
  padding: 1em;
  display: block;
}

/* Media Qeuries */

@media (min-width: 640px) {
  /* navbar */
  .hamburger{
   display: none;
  }

  .nav-menu{
    position: static;
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-right: 1em;

  }



  
  /* main cards content */
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .fase-one {
    width: 19em;
    height: 19em;
  }
  .card-content h1{
   margin: 1em;
   padding: 0;
  }

  .fase-one:nth-child(5){
   margin-left: ;
  }
  /* footer */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Media voor tekst */

@media (min-width: 800px) {
  .landing-page{
    max-width: 48em;
    margin: 0 auto;
   }
}
/* desktop versie */

@media (min-width: 1080px) {
  /* main cards content */
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* footer */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cards {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 35px;
   max-width: 1080px;
   margin: 0 auto; }

  
}
